extends layout

block slides
  section.slide#title
    h3 Reno Reckling | 28.10.2013
    h1 Szenenerkennung mittels hierarchischer Implicit Shape Models
      .subtitle basierend auf räumlichen Objektrelationen für das Programmieren durch Vormachen
      div(style="background: url('images/training-data.png') no-repeat 0px -100px; height: 300px; margin-left: 100px; background-size: 1024px 500px;")

  section.slide#Motivation
    h2 Motivation
    div(style="position: relative; padding-right: 48px; width: 100%; height: 80%;")
      img(src="images/motivation1.png", style="position: absolute; top: 0px; left: 0px; width: 45%;")
      ul(style="margin-left: 50%;")
        li.slide Objekterkennung liefert
          img(src="images/motivation2.png", style="position: absolute; top: 0px; left: 0px; width: 45%;")
          ul
            li(style="list-style-type: none;") "Welche Objekte sehe ich?"
        li.slide Szenenerkennung liefert
          img(src="images/motivation3.png", style="position: absolute; top: 0px; left: 0px; width: 45%;")
          ul
            li(style="list-style-type: none;") "Welche Beziehung haben die Objekte zueinander?"
          ul.slide
            li Einschränkung des möglichen Handlungsraumes
            li Hilfe bei der Extraktion semantischer Zusammenhängen
            li Unterstützung bei der Objektfindung

  section.slide#Aufgaben
    h2 Aufgabenstellung
    ul
      li Erweiterung des Implicit-Shape-Model-Ansatzes auf 6D
      li Beobachtung einer Szene über mehrere Minuten bis Stunden
      li Generieren eines Modells zur Beschreibung von
        ul
          li Lage und Orientierung von Objekten zueinander
            p "Messer liegt immer rechts von Teller."
          li Unterszenen auf Basis von Heuristiken
          li Lage und Orietierung von Unterszenen zueinander
            p "Messer und Teller liegen immer vor der Tasse."

  section.slide#Einschrankungen
    h2 Einschränkungen
    div Kein ...
      ul
        li online Training
        li automatisches Erlernen von neuen Zusammenhangstypen
        li selbstständige extraktion von Szenen aus den Trainingsdaten

  section.slide#Konzept
    :markdown
      ## Konzept
      #### Implicit Shape Model
    img(src="images/leibe-car.jpg", height="100%", width="100%")

  section.slide#Train
    :markdown
      ## Konzept
      #### Training
    img(src="images/training.svg", height="500px")

  section.slide#Beobacht
    :markdown
      ## Konzept
      #### Training
    div.col2
      object.left-svg(type="image/svg+xml", data="images/beobachtung.svg")
      object.right-svg.beob-svg(type="image/svg+xml", data="images/training.svg")

  section.slide#Spur
    :markdown
      ## Konzept
      #### Training
    div.col2
      object.left-svg(type="image/svg+xml", data="images/spuren.svg")
      object.right-svg.spur-svg(type="image/svg+xml", data="images/training.svg")

  section.slide#Subs
    :markdown
      ## Konzept
      #### Training
    div.col2
      object.left-svg(type="image/svg+xml", data="images/unterszene.svg")
      object.right-svg.sub-svg(type="image/svg+xml", data="images/training.svg")

  section.slide#Ref
    :markdown
      ## Konzept
      #### Training
    div.col2
      object.left-svg(type="image/svg+xml", data="images/referenzwahl.svg")
      object.right-svg.ref-svg(type="image/svg+xml", data="images/training.svg")

  section.slide#ISM
    :markdown
      ## Konzept
      #### Training
    div.col2
      object.left-svg(type="image/svg+xml", data="images/ism.svg")
      object.right-svg.ism-svg(type="image/svg+xml", data="images/training.svg")

  section.slide#Reco
    :markdown
      ## Konzept
      #### Erkennung
    img(src="images/erkennung.svg", height="500px")

  section.slide#RecoBeob
    :markdown
      ## Konzept
      #### Erkennung
    div.col2
      object.left-svg(type="image/svg+xml", data="images/erkennung-beob.svg")
      object.right-svg.e-beob-svg(type="image/svg+xml", data="images/erkennung.svg")

  section.slide#RecoVote
    :markdown
      ## Konzept
      #### Erkennung
    div.col2
      object.left-svg(type="image/svg+xml", data="images/erkennung-vote.svg")
      object.right-svg.e-vote-svg(type="image/svg+xml", data="images/erkennung.svg")

  section.slide#RecoAgg
    :markdown
      ## Konzept
      #### Erkennung
    div.col2
      object.left-svg(type="image/svg+xml", data="images/erkennung-agg.svg")
      object.right-svg.e-agg-svg(type="image/svg+xml", data="images/erkennung.svg")

  section.slide#RecoRueck
    :markdown
      ## Konzept
      #### Erkennung
    div.col2
      object.left-svg(type="image/svg+xml", data="images/erkennung-rueck.svg")
      object.right-svg.e-rueck-svg(type="image/svg+xml", data="images/erkennung.svg")

  section.slide#RecoFin
    :markdown
      ## Konzept
      #### Erkennung - Ergebnis
    div.col2
      object.left-svg(type="image/svg+xml", data="images/erkennung-finished.svg")
      object.right-svg.e-rueck-svg(type="image/svg+xml", data="images/erkennung.svg")

  section.slide#Eval
    :markdown
      ## Evaluation

  section.slide#EvalVid
    :markdown
      ## Evaluation
    video(controls, preload, width="80%", height="80%")
     source(src="images/ism.mp4", type="video/mp4")

  section.slide#EvalTischSpur
    :markdown
      ## Evaluation
    img(src="images/tisch-spuren.png", width="70%", height="70%")

  section.slide#EvalTischData
    :markdown
      ## Evaluation
    img(src="images/training-data.png", width="70%", height="70%")

  section.slide#EvalTischReco
    :markdown
      ## Evaluation
    img(src="images/s14.png", width="70%", height="70%")

  section.slide#EvalTischReco2
    :markdown
      ## Evaluation
    img(src="images/s6.png", width="70%", height="70%")

  section.slide#EvalTischReco3
    :markdown
      ## Evaluation
    img(src="images/s10.png", width="70%", height="70%")

  section.slide#EvalTischReco4
    :markdown
      ## Evaluation
    img(src="images/alle erkannt.png", width="60%", height="60%")

  section.slide#EvalPerf
    :markdown
      ## Evaluation - Performance
    object(type="image/svg+xml", data="images/3.svg")

  section.slide#EvalPerf2
    :markdown
      ## Evaluation - Performance
    object(type="image/svg+xml", data="images/2.svg")

  section.slide#Dank
    :markdown
      # Danke für die Aufmerksamkeit.
      ## Fragen?
