extends layout

block slides
  section.slide#title
    h3 Reno Reckling | 28.10.2013
    h1 Szenenerkennung mittels hierarchischer Implicit Shape Models
      .subtitle basierend auf räumlichen Objektrelationen für das Programmieren durch Vormachen
      div(style="background: url('images/training-data.png') no-repeat 0px -100px; height: 300px; margin-left: 100px; background-size: 1024px 500px;")

  section.slide#Motivation
    h2 Warum Szenenerkennung?
    div(style="position: absolute; width: 100%; height: 80%;")
      img(src="images/motivation1.png", style="position: absolute; top: 0px; left: 0px; height: 100%;")
      ul(style="margin-left: 55%;")
        li.slide Objekterkennung liefert
          img(src="images/motivation2.png", style="position: absolute; top: 0px; left: 0px; height: 100%;")
          ul
            li(style="list-style-type: none;") "Welche Objekte sehe ich?"
        li.slide Szenenerkennung liefert
          img(src="images/motivation3.png", style="position: absolute; top: 0px; left: 0px; height: 100%;")
          ul
            li(style="list-style-type: none;") "Welche Beziehung haben die Objekte zueinander?"



  section.slide#Aufgaben
    h2 Aufgabenstellung
    ul
      li Erweiterung des Implicit-Shape-Model-Ansatzes auf 6D
      li Beobachtung einer Szene über mehrere Minuten bis Stunden
      li Generieren eines Modells zur Beschreibung von
        ul
          li Lage und Orientierung von Objekten zueinander
            p "Messer liegt immer rechts von Teller."
          li Unterszenen auf Basis von Heuristiken
          li Lage und Orietierung von Unterszenen zueinander
            p "Messer und Teller liegen immer vor der Tasse."

  section.slide#Einschrankungen
    h2 Einschränkungen
    div Kein ...
      ul
        li online Training
        li automatisches Erlernen von neuen Zusammenhangstypen
        li selbstständige extraktion von Szenen aus den Trainingsdaten

  section.slide#Konzept
    :markdown
      ## Konzept
      #### Implicit Shape Model
    img(src="images/leibe-car.jpg", height="100%", width="100%")

  section.slide#Train
    :markdown
      ## Konzept
      #### Training
    img(src="images/training.svg", height="500px")

  section.slide#Beobacht
    :markdown
      ## Konzept
      #### Training - Beobachtungen
    div.col2
      object(type="image/svg+xml", data="images/beobachtung.svg", height="300")
      object.beob-svg(type="image/svg+xml", data="images/training.svg", height="300")

  section.slide#Spur
    :markdown
      ## Konzept
      #### Training - Spuren
    div.col2
      object(type="image/svg+xml", data="images/spuren.svg", height="300")
      object.spur-svg(type="image/svg+xml", data="images/training.svg", height="300")

  section.slide#Subs
    :markdown
      ## Konzept
      #### Training - Unterszenenfindung
    div.col2
      object(type="image/svg+xml", data="images/unterszene.svg", height="300")
      object.sub-svg(type="image/svg+xml", data="images/training.svg", height="300")

  section.slide#Ref
    :markdown
      ## Konzept
      #### Training - Referenzobjektwahl
    div.col2
      object(type="image/svg+xml", data="images/referenzwahl.svg", height="300")
      object.ref-svg(type="image/svg+xml", data="images/training.svg", height="300")

  section.slide#ISM
    :markdown
      ## Konzept
      #### Training - ISM-Generierung
    div.col2
      object(type="image/svg+xml", data="images/ism.svg", height="300")
      object.ism-svg(type="image/svg+xml", data="images/training.svg", height="300")

  section.slide#Reco
    :markdown
      ## Konzept
      #### Erkennung
